<html>
  <body>

    <h1>List of users</h1>

  <table border="1">
    <tbody>
    <tr>
      <th>
        Username
      </th>

      <th>
        Private?
      </th>

      <th></th>
      <th></th>
    </tr>


    <tr>
        <% @list_of_users.each do |a_user| %>
      <td>
      <%= a_user.username %>
      </td>

      <td>
        <%= a_user.private %>
      </td>

      <td>
      Follow
      </td>

      <td>
        <a href="/users/<%= a_user.username %>">
              Show details
          </a>
      </td>
    </tr>
        <% end %>
  </tbody></table>


</body></html>
