<html>
  <body>

    <h1>List of users</h1>

  <table border="1">
    <tbody>
    <tr>
      <th>
        Username
      </th>

      <th>
        Private?
      </th>

      <th></th>
      <th></th>
    </tr>


    <tr>
        <% @list_of_users.each do |a_user| %>
      <td>
      <%= a_user.username %>
      </td>

      <td>
        <%= a_user.private %>
      </td>

      <td>
        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
          <button> Follow </button>
        </form>
      </td>

      <td>
        <% if a_user.private==true %>
          <a href="/not_authorized">
            Show details
          </a>
        <% else %>
          <a href="/users/<%= a_user.username %>">
            Show details
          </a>
        <% end %>
      </td>
    </tr>
        <% end %>
  </tbody></table>


</body></html>
